.mainSectionBanner {
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #17E4B9 0%, #091D24 100%);
}
/* IMPORTANTE! PARA MANTER O MINIMO DE RESPONSIVIDADE... IMAGEM 100% */
.mainSectionBanner img {
  max-width: 90%;
}
