.emptyStateImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
    color: #fff;
}
.emptyStateImage p{
    text-align: center;
}
